<div class="main-div">
  <div class="main-div-child">
    <div class="gallery">
      <!-- <div class="gallery_box1">
          <img class="gallery_box1_img" src="../../assets/Images/gallery-1.avif" alt="">
        </div>
        <div class="gallery_box2">
          <img class="gallery_box2_img" src="../../assets/Images/gallery-2.avif" alt="">
        </div>
        <div class="gallery_box2">
          <img class="gallery_box2_img" src="../../assets/Images/gallery-3.avif" alt="">
        </div>
        <div class="gallery_box2">
          <img class="gallery_box2_img" src="../../assets/Images/gallery-4.avif" alt="">

        </div> -->
      <div class="gallery_box1">
        <h1 class="gallery_box1-heading">Aman Verma!</h1>
        <span class="gallery_box1-text"
          >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ipsa culpa blanditiis iusto aperiam quaerat.</span
        >
      </div>
      <div class="gallery_box2">
        <img
          class="gallery_box2_img"
          src="../../assets/Images/dashimg12.png"
          alt=""
        />
      </div>
    </div>
    <div class="users">
      <span class="main-text">users details :-</span>
      <div class="main-div-child-users">
        <div class="main-div-child-users_box userbox" >
          <span class="text">Total Users</span>
          <span class="num">{{totaluser}}</span>
        </div>
        <div class="main-div-child-users_box userbox" >
          <span class="text">Active Users</span>
          <span class="num">{{activeuser}}</span>
        </div>
        <div class="main-div-child-users_box userbox" >
          <span class="text">Inactive Users</span>
          <span class="num">{{totaluser - activeuser}}</span>
        </div>
      </div>
    </div>
    <div class="meetings">
      <span class="main-text">meetings details :-</span>
      <div class="main-div-child-meetings">
        <div class="main-div-child-meetings_meetingbox">
          <div class="main-div-child-meetings_meetingbox-1 userbox">
            <span class="text">total meeting</span>
            <span class="num">{{totalmeet}}</span>
          </div>
          <!-- <div class="main-div-child-meetings_meetingbox-1 meeting_box2">
              <span class="text">completed meetings</span>
              <span class="num">30</span>
            </div> -->
          <div class="main-div-child-meetings_meetingbox-1 userbox">
            <span class="text">Schedule meetings</span>
            <span class="num">{{schedulemeet}}</span>
          </div>
          <div class="main-div-child-meetings_meetingbox-1 userbox">
            <span class="text">reschedule meetings</span>
            <span class="num">{{reschedulemeet}}</span>
          </div>
        </div>
        <!-- <div class="main-div-child-meetings_meetingbox">
            <div class="main-div-child-meetings_meetingbox-1">
              <span class="text">Inactive Users</span>
              <span class="num">30</span>
            </div>
            <div class="main-div-child-meetings_meetingbox-1">
              <span class="text">Inactive Users</span>
              <span class="num">30</span>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>
